{% extends "base.html.twig" %}
    {% block body %}
        <strong>Acteurs :</strong>
        <ul>
            {% for actor in program.actors %}
                <li>{{ actor.firstname }}</li>
            {% else %}
                <li>Aucun acteur pour cette série</li>
            {% endfor %}
        </ul>
        <div class="container" style="height: 100px; ">
            <p class="h1 d-flex justify-content-center mb-2">All part for {{ season.description }} </p>
        </div>
        <div class="container">
            <div class="d-flex flex-row row-cols-4 justify-content-around">
                {% for key, episode in episodes %}
                        <div class="flex-row mb-5 mt-2 d-flex">
                            <div class="card m-5">
                                <p class="h4 d-flex justify-content-center"> {{ episode.title }} {{ episode.number}} </p>
                                <img src="{{ episode.images }}" class="img-fluid img-bg">
                                <p class="h6"> {{ episode.synopsis }} </p>
                            </div>
                        </div>
                {% endfor %}
            </div>
        </div>

        <button class="btn btn-primary text-white" href=""> Go back</button>
    {% endblock %}